.item:hover {
  background: #ededed;
  background: -moz-linear-gradient(top, #ededed 0%, #dadada 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #ededed),
    color-stop(100%, #dadada)
  );
  background: -webkit-linear-gradient(top, #ededed 0%, #dadada 100%);
}
